{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Listado De Alumnos</title>

  </head>
  <body class="sidebar-mini fixed">
    <div class="wrapper">
      <!-- Navbar-->
      <header class="main-header hidden-print"><a class="logo" href="/bienvenido/">APPGECA</a>
        <nav class="navbar navbar-static-top">
          <!-- Sidebar toggle button--><a class="sidebar-toggle" href="#" data-toggle="offcanvas"></a>
          <!-- Navbar Right Menu-->
          <div class="navbar-custom-menu">
            <ul class="top-nav">
              <!-- User Menu-->
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-lg"></i></a>
                <ul class="dropdown-menu settings-menu">
                  <li><a href="/logout/"><i class="fa fa-sign-out fa-lg"></i> Salir</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Side-Nav-->
      <aside class="main-sidebar hidden-print">
        <section class="sidebar">
          <div class="user-panel">
            <div class="pull-left image"><img class="img-circle" src="{% static 'img/avatar-admin.png' %}" alt="User Image"></div>
            <div class="pull-left info">
              <p>Bienvenido {{user.first_name}}</p>
              <p class="designation">Profesor</p>
            </div>
          </div>
          <!-- Sidebar Menu-->
          <ul class="sidebar-menu">
            <li class="active"><a href="/bienvenido_profesor/"><i class="fa fa-dashboard"></i><span>Inicio</span></a></li>
            <li class="treeview"><a href="#"><i class="fa fa-edit"></i><span>Control De Asistencia</span><i class="fa fa-angle-right"></i></a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Asistencias</a></li>
              </ul>
            </li>
            <li class="treeview"><a href="#"><i class="fa fa-th-list"></i><span>Listado</span><i class="fa fa-angle-right"></i></a>
              <ul class="treeview-menu">
                <li><a href="/listado de alumnoP/"><i class="fa fa-circle-o"></i> Listado De Alumnos</a></li>
                <li><a href="/listado de actividadesP/"><i class="fa fa-circle-o"></i> Listado De Actividades</a></li>
              </ul>
            </li>
          </ul>
        </section>
      </aside>
      <div class="content-wrapper">
        <div class="page-title">
          <div>
            <h1>Lista De Alumnos</h1>
            <ul class="breadcrumb side">
              <li><i class="fa fa-home fa-lg"></i></li>
              <li>Listado</li>
              <li class="active"><a href="#">Alumnos</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="card-body">
                <div id="sampleTable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">
                <div class="col-sm-12">
                <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                  <thead>
                    <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 69px;">Cedula</th>
                    <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 89px;">Nombre</th>
                    <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 71px;">Apellido</th>
                    <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 51px;">Sexo</th>
                    <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 73px;">Fecha De Nacimiento</th>
                    <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 73px;">Nacionalidad</th>
                    <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 73px;">Institucion</th>
                    </tr>
                  </thead>
                  
                <tbody>
                {% if object_list %}
                {% for alumno in object_list %}
                <tr class="odd">
                  <td>{{ alumno.cedula_alumno }}</td>
                  <td>{{ alumno.primer_nombre }}</td>
                  <td>{{ alumno.primer_apellido }}</td>
                  <td>{{ alumno.sexo_alumno }}</td>
                  <td>{{ alumno.fecha_nacimiento }}</td>
                  <td>{{ alumno.nacionalidad }}</td>
                  <td>{{ alumno.institucion }}</td>
                  </tr>
                {% endfor %}
                {% else %}
                  <td valign="top" colspan="7" class="dataTables_empty">No hay datos disponibles en la tabla</td>
                {% endif %}  
                </tbody></table></div></div>
                  </div>              </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Javascripts-->
    <script src="{% static 'js/jquery-2.1.4.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/plugins/pace.min.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js'%}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
  </body>
</html>